<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <meta charset="UTF-8">
    <title th:text="@{${titleName}}"></title>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<main class="ph-centre">
    <div th:if="${project != null}">
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col">
                    <div th:text="${project.title}"></div>
                </div>
                <div class="col">
                    <div>
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i>Показать описание проекта</i>
                        </button>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div><a th:href="@{'/project/edit/' + ${project.id}}">Редактировать</a></div>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" th:text="${project.description}"></div>
            </div>
        </div>

        <div class="mt-3 mb-2 ph-days">
            <div th:if="${days != null}" th:each="day : ${days}">
                <div class="ph-day"><span class="ph-span-day" th:text="${day}"></span></div>
            </div>
        </div>

        <div th:replace="task/taskList :: content"></div>
        <div>
            <a class="btn btn-info" th:href="@{'/task/create/' + ${project.id}}">Добавить задачу</a>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: content"></div>

</body>
</html>