<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Новый </title>
</head>
<body>
<div th:replace="fragments/header :: content"></div>
<main>
    <p th:if="${noProject != null}" th:text="${noProject}"></p>
    <div th:if="${project != null}">
        <p>
            <b th:text="${project.title}"></b>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i>Показать описание проекта</i>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" th:text="${project.description}"></div>
        </div>
        <div th:replace="activity/activityList :: content"></div>
    </div>
</main>

<div th:replace="fragments/footer :: content"></div>

</body>
</html>