.ph-inline {
    display: inline-block;
    margin-left: 1rem;
    width: 30%;
}

.ph-logo {
    width: 13rem;
    height: 6rem;
}

.ph-centre {
    width: 86%;
    margin: auto;
}

.ph-alternative {
    background: #ffc600;
    opacity: 0.8;
    border-radius: 0.3rem;
    padding: 0.3rem 0 0.3rem 0;
}

.ph-wrong {
    background: #ff4f00;
    opacity: 0.8;
    border-radius: 0.3rem;
    padding: 0.3rem 0 0.3rem 0;
}

.ph-right {
    background: #03c04a;
    opacity: 0.8;
    border-radius: 0.3rem;
    padding: 0.3rem 0 0.3rem 0;
}

.ph-for-slider {
    margin-bottom: 2rem;
}

p, h1, h2, h3, h4, h5, h6, span {
    font-family: "Gill Sans", sans-serif;
}

.ph-span-slider {
    padding: 2rem 1rem 2rem 4rem;
    font-size: 18pt;
}

.ph-slider {
    padding: 2rem 2rem 2rem 1rem;
}

.item-img {
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    border-radius: 0.2rem;
}

.ph-span-day {
    font-size: 10pt;
}

.ph-days {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.ph-day {
    padding: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 0.3rem;
    background: #d4ffb9;
}

.ph-done {
    color: red;
    border-radius: 0.2rem;
    font-weight: 600;
    background: #e1ffce;
}

.ph-image-set {
    width: 100px;
    background: #f0f0f0;
    padding: 2%;
}

.ph-image-set img {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 2%;
}

.ph-footer {
    display: -webkit-flex;
    display: flex;
    position: relative;
    padding: 3% 3%;
    width: 100%;
    justify-content: space-between;
    margin-top: 20%;
}

.ph-social img{
    max-width: 20%;
    height: auto;
    margin: auto 3%;
    transition: 1s;
}

.ph-social img:hover {
    transform: scale(1.15);
}

.ph-social {
    text-align: center;
}

.ph-about {
    width: 50%;
    text-align: center;
}